html, body {
    font-family: Arial, sans-serif;
}

a, .btn-link {
    color: #ff96c4;
}

    .btn-link:focus {
        outline: none !important;
        box-shadow: none !important;
        padding: 5px;
        border-radius: 20px;
    }

    .btn-link:active {
        color: #ffdbdb !important;
    }

    .btn-link:hover {
        color: #ffdbdb;
    }

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.content {
    padding-top: 1.1rem;
}

h1:focus {
    outline: none;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid #e50000;
}

.validation-message {
    color: #e50000;
}

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }

.darker-border-checkbox.form-check-input {
    border-color: #929292;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}

.logo-big {
    width: 100%;
    height: 50vh;
    background-image: url("/img/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.landing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    width: 100%;
}

.main-title {
    font-size: 3rem;
    font-weight: bold;
}

.sosubot {
    font-size: 7rem;
    text-shadow: 0px 0px 50px rgba(255,255,255,0.25);
    line-height: 1;
}

.sosubot-desc {
    font-size: 2rem;
    display: block;
    overflow: visible;
    line-height: 0.6;
}

.title-gradient {
    display: inline-block;
    background: linear-gradient(270deg,rgba(132, 0, 255, 1) 0%, rgba(255, 0, 144, 1) 50%, rgba(255, 229, 0, 1) 100%);
    background-size: 500% 500%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: gradientMove 4s ease infinite;
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.subtitle {
    font-size: 1.2rem;
    max-width: 600px;
    margin-top: 3rem;
}

.features {
    list-style: none;
}

.telegram-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 10px 15px;
    background-color: #a855f7;
    color: white;
    text-decoration: none;
    border-radius: 12px;
    transition: all 0.3s ease;
    font-weight: 500;
    text-align: center;
}

    .telegram-link:hover {
        background-color: #9333ea;
        transform: translateY(-2px);
    }

    .telegram-link svg {
        width: 32px;
        height: 32px;
    }

.footer-text {
    opacity: 0.25;
}

.features-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    gap: 10px 30px;
    max-width: 700px;
    margin: 20px auto;
}

.feature-item {
    background: rgba(255, 255, 255, 0.05);
    padding: 10px 15px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Дополнительно для маленьких экранов */
@media (max-width: 500px) {
    .features-grid {
        gap: 10px 15px; /* уменьшаем отступы */
        grid-template-columns: repeat(1, minmax(200px, 1fr));
    }

    .feature-item {
        padding: 8px 10px;
    }

    .sosubot {
        font-size: calc(5rem - 5vw);
    }

    .sosubot-desc {
        line-height: 1;
    }
}

.button_login:focus:active {
    outline: none !important;
    -webkit-box-shadow: 0px 0px 10px #ffdbf2 !important;
    box-shadow: 0px 0px 10px #ffdbf2 !important;
}

.form-control:focus:active {
    outline: none !important;
    -webkit-box-shadow: 0px 0px 10px #ffdbf2 !important;
    box-shadow: 0px 0px 10px #ffdbf2 !important;
}

input::placeholder {
    text-align: right !important;
}

.input-label {
    color: rgba(0,0,0,0.5);
}
