################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SosuBot.Web/FileContentIndex
.idea
bin/
obj/