@page "/"

<PageTitle>SosuBot</PageTitle>

<div class="landing-container">
    <div class="logo-big"></div>

    <span class="main-title">
        <span class="title-gradient sosubot">
            SosuBot
        </span>
        <span class="sosubot-desc">твой помощник для osu!</span>
    </span>

    <p class="subtitle">
        Публикуй свои скоры, конвертируй их в видео через бота, отслеживай новые скоры других игроков, и многое другое!
    </p>

    <a class="telegram-link" href="https://t.me/shiukkz2bot" target="_blank">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM16.64 8.8C16.51 9.94 14.54 18.26 14.54 18.26C14.54 18.26 14.43 18.53 14.16 18.53C13.89 18.53 13.51 18.28 13.51 18.28L10.32 15.83L8.68 17.41C8.5 17.59 8.35 17.59 8.35 17.59L8.61 13.91L15.15 8.01C15.43 7.75 15.09 7.61 14.72 7.85L6.65 12.93L4.17 12.15C4.17 12.15 3.8 12.04 3.78 11.76C3.76 11.48 4.19 11.33 4.19 11.33L16.03 6.81C16.03 6.81 16.32 6.68 16.54 6.85C16.76 7.02 16.7 7.39 16.7 7.39L16.64 8.8Z" fill="currentColor" />
        </svg>
        <span>Перейти в бота...</span>
    </a>
</div>