* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica', 'Arial', sans-serif;
    background: linear-gradient(135deg, #771c5a, #331c65);
    color: #fff;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    text-align: center;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

    .page::before {
        content: '';
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
        width: 1000px;
        height: 250px;
        background: radial-gradient(circle, rgb(134 0 255 / 50%) 0%, rgb(131 0 255 / 23%) 50%, #00000000 50%);
        filter: blur(80px);
        z-index: 0;
        pointer-events: none;
    }

.stars {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    pointer-events: none;
    background-image: url("/img/stars.png");
    background-repeat: round;
}

@keyframes twinkle {
    0%, 100% {
        opacity: 0.2;
    }

    50% {
        opacity: 0.5;
    }
}

.navbar {
    padding: 1rem 2rem 0rem 2rem;
    position: relative;
    z-index: 10;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

@media (max-width: 768px) {
    .navbar{
        display: none
    }
}

#blazor-error-ui {
    color-scheme: light only;
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }