@inherits LayoutComponentBase

<div class="page">
    <div class="stars" id="stars">

    </div>

    <div class="navbar">
        <NavMenu />
    </div>

    <main>
        @Body
    </main>

    <Footer />
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>